body {
    font-family: Arial, sans-serif;
}

.playlist-container {
    width: 50%;
    float: left;
}

.playlist-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.controls {
    width: 50%;
    float: right;
    text-align: right;
}

.controls button {
background-color: pink;
cursor: pointer;
    margin: 20px;
}

.song-details {
    background-color: pink;
    clear: both;
    padding: 2px;
}

.song-details h2 {
    margin-top: 0;
}